<li><a href="{% url 'homepage' subdomain='graph' %}">Homepage</a></li>
<li><a href="{% url 'search_box' subdomain='graph' %}">Search Engine</a></li>
<li><a href="{% url 'sparql_cmd' subdomain='graph' %}">SPARQL</a></li>

