{% extends 'layouts/blank.html' %}

{% block page_title %}
{{ approach.title }}
<small>{{ approach.heading }}</small>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6 col-sm-6">
{% for entry in approach.items %}
	    <div class="s-item last">
            <a href="{{ entry.link }}">
			    <div class="sitem-icon">
				    <i class="fa fa-{{ entry.icon }}"></i>
			    </div>
			    <div class="sitem-content">
				    <h4>{{ entry.title }}</h4>
				    <p>{{ entry.summary }}</p>
			    </div>
		    </a>
	    </div>
{% endfor %}
    </div>
</div>
{% endblock %}

