{% extends "layouts/tool.html" %}

{% block form_title %}RDF Interpret <small>different form elements</small>{% endblock %}

{% block form_options %}
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
{% endblock %}

{% block form_buttons %}
                  <button type="submit" class="btn btn-success">Analyze</button>
{% endblock %}

{% block form_result %}
        <div class="col-md-12">
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel">
                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h4 class="panel-title">
<div class="phoca-flagbox" style="width:30px;height:30px">
    <span class="phoca-flag-example phoca-{{ results|attribute:'language' }}"></span>
</div>
                    &nbsp;Detected language : {{ results.language }}
                  </h4>
                </a>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
{% for entry in results.analyzed %}
                     <div class="well">{{ entry.sentence }}</div>
{% for word in entry.words %}
                     <spane class="label label-success">{{ word }}</spane>
{% endfor %}
{% endfor %}
                  </div>
                </div>
              </div>
              <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  <h4 class="panel-title">Entities</h4>
                </a>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
{% for entry in results.analyzed %}
{% for entity,role in entry.pos_tag %}
<div class="col-md-3">
    <div class="input-group" style="{{ role|nlp_style:entity }}">
      <input value="{{ entity }}" placeholder="Entity's literal" aria-describedby="basic-addon2" read-only type="text" class="form-control" style="font-size: larger;">
      <span class="input-group-addon">{{ role }}</span>
    </div>
</div>
{% endfor %}
{% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </div>
{% endblock %}

